:root {
    --color-blue: #53768A;
    --color-orange: #E09329;
    --color-white: #E4DAD9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body,
button {
    line-height: var(--s1);
    font-family: "Montserrat-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
    background: var(--color-white);
}

button {
    background: var(--color-orange);
    border-radius: var(--s-1);
    border-style: none;
    width: calc(var(--s3) * 0.75);
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

input {
    border-radius: var(--s-1);
    border-style: none;
    padding: var(--s-1);
}

.elc-box {
    border-color: var(--color-blue);
    border-radius: var(--s-1);
}

.spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    display: inline-block;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(calc(1 / var(--ratio) * 2));
    }
}

.text-align\:center {
    text-align: center;
}

.pulse-on-click {
    transition: transform var(--t-2) ease-out;
    transform-origin: center;
}

.pulse-on-click:active {
    transform: scale(calc(var(--v1) / 3));
    transition: transform var(--t-3) ease-in;
}