:root {
    --color-blue: #53768A;
    --color-orange: #E09329;
    --color-white: #E4DAD9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body, button {
    line-height: var(--s1);
    font-family: "Montserrat-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
    background: var(--color-white);
}

button {
    background: var(--color-orange);
    border-radius: var(--s-1);
    border-style: none;
    width: calc(var(--s3) * 0.75);
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

input {
    border-radius: var(--s-1);
    border-style: none;
    padding: var(--s-1);
}

.elc-box {
    border-color: var(--color-blue);
    border-radius: var(--s-1);
}

.spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    display: inline-block;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(calc(1 / var(--ratio) * 2));
    }
}

.text-align\:center {
    text-align: center;
}

:root {
    --t-5: calc(var(--t-4) / var(--ratio));
    --t-4: calc(var(--t-3) / var(--ratio));
    --t-3: calc(var(--t-2) / var(--ratio));
    --t-2: calc(var(--t-1) / var(--ratio));
    --t-1: calc(var(--t0) / var(--ratio));
    --t0: 1000ms;
    --t1: calc(var(--t0) * var(--ratio));
    --t2: calc(var(--t1) * var(--ratio));
    --t3: calc(var(--t2) * var(--ratio));
    --t4: calc(var(--t3) * var(--ratio));
    --t5: calc(var(--t4) * var(--ratio));

    --v-5: calc(var(--v-4) / var(--ratio));
    --v-4: calc(var(--v-3) / var(--ratio));
    --v-3: calc(var(--v-2) / var(--ratio));
    --v-2: calc(var(--v-1) / var(--ratio));
    --v-1: calc(var(--v0) / var(--ratio));
    --v0: 1;
    --v1: calc(var(--v0) * var(--ratio));
    --v2: calc(var(--v1) * var(--ratio));
    --v3: calc(var(--v2) * var(--ratio));
    --v4: calc(var(--v3) * var(--ratio));
    --v5: calc(var(--v4) * var(--ratio));
}

.pulse-on-click {
    transition: transform var(--t-2) ease-out;
    transform-origin: center;
}

.pulse-on-click:active {
    transform: scale(calc(var(--v1) / 3));
    transition: transform var(--t-3) ease-in;
}